using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

namespace HajosTeszt.wwwroot
{
    public class cv
    {
    }
}
.resize {
    width: 400px;
    height: auto;
    float: center;
    border: solid 3px red;
    margin-left: 350px;
}

h1,
h2 {
    text-align: center;
}

a {
    padding: 10px;
    border-radius: 30px;
    background-color: fuchsia;
    color: white;
}

    a:hover {
        background-color: green;
    }

span {
    color: REd;
    font-style: italic;
    font-weight: bold;
}

div {
    margin: 10px;
    padding: 20px;
    border: 1px solid fuchsia;
    border-radius: 25px;
}

#listak {
    background-color: red;
}

.csapatok {
    color: fuchsia;
    background-color: white;
    border-radius: 30px;
    width: 150px;
}

.jatekosok {
    color: red;
    background-color: white;
    border-radius: 30px;
    width: 150px;
}