<!DOCTYPE html >
<html >
<head >
<meta charset="utf-8" / >
<title > </title >
</head >
<body >

</body >
</html >
 * {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
}

#szövegek,
#listak,
#kep,
#header,
#oldal,
#nav {
    padding: 20px;
}

#header {
    background-color: tomato;
}

#listak {
    background: lightskyblue;
    color: black;
    text-align: left;
}

#szövegek {
    text-align: center;
    background-color: orange;
    color: black;
}


#oldal {
    background-color: lightcoral;
}

#kep {
    background: tomato;
}





@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #tarto {
        display: flex;
        flex-wrap: wrap;
    }

    #nav,
    #header {
        order: -1;
    }

    #szövegek {
        flex: 1 1 75%;
    }

    #listak {
        flex: 1 1 25%;
    }
}

.resize {
    width: 400px;
    height: auto;
    float: center;
    border: solid 3px tomato;
}

h1,
h2 {
    text-align: center;
}



a:hover {
    background-color: white;
}

span {
    color: tomato;
    font-style: italic;
    font-weight: bold;
}

.csapatok {
    color: black;
    background-color: lightsalmon;
    border-radius: 30px;
}

.jatekosok {
    color: black;
    background-color: lightsalmon;
    border-radius: 30px;
}

#nav {
    background: deepskyblue;
    display: flex;
}

    #nav a {
        flex: 1 1 auto;
        text-decoration: none;
        color: black;
    }
