.kattintható:hover {
    background-color: purple;
    color: white;
    cursor: pointer;
}


#külső {
    height: 100%;
    flex-direction: column;
    display: flex;
    text-align: left;
    font-size: larger;
    font-weight: bold;
    border: black 5px solid;
    font-style: italic;
    background-color: fuchsia;
}

html, body {
    height: 100%;
}



#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
    font-style: normal;
    margin-top: 125px;
}

#válasz1 {
    border: black 1px solid;
    margin: 40px;
}

#válasz2 {
    border: black 1px solid;
    margin: 40px;
}

#válasz3 {
    border: black 1px solid;
    margin: 40px;
}


#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    overflow: hidden;
    flex-shrink: 0;
    flex-shrink: 0;
    border: black solid 1px;
    background-color: purple;
}

#kép1 {
    margin: 50px;
    margin-top: 180px;
}

.gomb {
    padding: 20px;
    width: 80px;
    border: black 1px solid;
}
